/*******************************************************************************
********************************************************************************
***                                                                          ***
***   Use to override any other CSS styling or add new styling               ***
***                                                                          ***
***   This file will be loaded last in the CSS chain                         ***
***                                                                          ***
***   ( Remember: This Cascade Styles inherit styling defined previously)    ***
********************************************************************************
*******************************************************************************/
/*Price table style*/

.features-table
{
  /*width: 100%;*/
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
  margin-top:20px;
  margin-bottom:20px;
}
 
.features-table td
{
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  /*text-align: center;*/
  vertical-align: middle;
  display: table-cell;
}
 
.features-table tbody td
{
  /*text-align: center;*/
  width: 150px;
}
 
 
.features-table td.grey
{
  background: #f33526;
  background: rgba(200,70,25,0.2);
  border-right: 1px solid white;
  text-align: center;
}

.features-table td.grey1
{
  border-right: 1px solid white;
  text-align: center;
}

.features-table td.yellow
{
  background: #f9f7b7;
  background: rgba(250,245,185,0.7);
  border-right: 1px solid white;
  text-align: center;
}
 
.features-table td.green
{
  background: #e7f3d4;
  background: rgba(184,243,85,0.7);
  text-align: center;
}
 
.features-table td:nowrap
{
  white-space: nowrap;
}
 
.features-table thead td
{
  font-size: 120%; 
  font-weight: bold;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea;
}
 
.features-table tfoot td
{
  font-size: 120%; 
  font-weight: bold;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #dadada;
}

.left_column_border
{
  border-right: 1px solid white; 
  width: 100%;
}

.left_column_border_head
{
  text-align: center;
}

